<<<<<<< Updated upstream:flaskapp/config_template.cfg
#
#   This is a template for a config file to be used in production.
#   None of the values here should be used in the production environment.
#   In development, copy this file to config.cfg
#
# Local Development Application Secret Key, not used in production
SECRET_KEY='314312311'
=======
# Production secret key, not to be shared
SECRET_KEY='39bdff5195c3375dc01246d08c2e1d66'
>>>>>>> Stashed changes:flaskapp/config.cfg
# SQLite Database
SQLALCHEMY_DATABASE_URI='sqlite:///labhours.db'
SQLALCHEMY_TRACK_MODIFICATIONS=False
# Email Notifications
EMAIL_CREDENTIALS_FILE='email.cred'
EMAIL_SERVER='smtp.gmail.com'
EMAIL_SERVER_PORT=587
# Zoom links input file
ZOOM_LINKS_FILE='zoomlinks.txt'
# Local Development Secret Tokens
CLEAR_TOKEN='802fdd74d67528e49264d48f09fdb9418c18e84f8b0c65c689b6915201458dd763b36e5756d170aa6f9a70b98011989e414a0d82e640afe5840796df8740b5c5'
OPEN_TOKEN='2e2ab97b211ffb8f86770693022a6ee94a7f0fb25cd15d0513e7753530e7a788af85963f190fb9446bfc641034e534e45ef35c914fb870661d89dd0bd6fea852'
CLOSE_TOKEN='1c158e3f5260c2e5a4a6d96c5b262c71c51943ee763bf93982cb978cb78f60672877ad1e069ed4ff279c16db6f61ac552eb5e59488d2632a9e5a702766515ebb'

