{% extends "layout.html" %}
{% block title %}Join Lab Hours Queue{% endblock %}

{% block zoom_wrapper %}
<a class="inline-block border border-white rounded hover:border-gray-200 text-blue-700 hover:bg-gray-200 py-1 px-3" href="{{ link }}" target="_blank">Current Zoom Meeting</a>
{% endblock %}

{% block content %}

<html>
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

<head>
    <title>Join the Queue</title>
</head>

<body background-color="#EDF2F7">
    <div style="min-height: 100%"
        class="bg-white rounded-t-lg overflow-hidden border-t border-l border-r border-gray-400 p-4 px-3 py-10 bg-gray-200 flex justify-center">
        <div class="w-full max-w-xs">
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST" action="">
                {{ form.hidden_tag() }}
                <p class="text-2xl">Join Queue</p>
                <br />
                <font color="red"> {{ message }}</font>
                <br />
                <div class="mb-4">
                    {{ form.name.label(class="block text-gray-700 text-sm font-bold mb-2") }}
                    {{ form.name(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                </div>
                <div class="mb-6">
                    {{ form.email.label(class="block text-gray-700 text-sm font-bold mb-2") }}
                    {{ form.email(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                </div>
                <div class="mb-6">
                    {{ form.eid.label(class="block text-gray-700 text-sm font-bold mb-2") }}
                    {{ form.eid(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                </div>
                {% if queue_is_open %}
                <div class="form-group">
                    {{ form.submit(class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") }}
                </div>
                {% else %}
                    <button class="disabled bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline opacity-50 cursor-not-allowed">
                        Queue is Closed
                    </button>
                {% endif %}
            </form>
        </div>
    </div>
</body>

</html>
{% endblock %}