<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <style>
      #joinlink {
        float: left;
        margin: 5px;
      }
      #viewlink {
        float: left;
        margin: 5px;
      }
      #loginlink {
        float: right;
        margin: 5px;
      }
      #blockcontent {
        clear: both;
      }
    </style>
    <header>
        <nav>
          <ul>
            <div class="links">
              <li id="joinlink"><a href="{{ url_for('join') }}">Join</a></li>
              <li id="viewlink"><a href="{{ url_for('view_line') }}">View</a></li>
              <li id="loginlink"><a href="{{ url_for('login') }}">Login</a></li>
            </div>
          </ul>
        </nav>
    </header>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div id="blockcontent">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>