
{% extends "layout.html" %}
{% block title %}Instructor Login{% endblock %}

{% block zoom_wrapper %}
<a class="inline-block border border-white rounded hover:border-gray-200 text-blue-700 hover:bg-gray-200 py-1 px-3" href="{{ link }}" target="_blank">Current Zoom Meeting</a>
{% endblock %}

{% block content %}

<html>
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />

<head>
  <title>Instructor Login</title>
</head>

<body background-color="#EDF2F7">
  <div style="min-height: 100%"
    class="bg-white rounded-t-lg overflow-hidden border-t border-l border-r border-gray-400 p-4 px-3 py-10 bg-gray-200 flex justify-center">
    <div class="w-full max-w-lg md:max-w-s">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST" action="">
        <p class="text-2xl">{{title}}</p> <br />
        {{ body }}
      </form>
    </div>
  </div>
</body>

</html>

{% endblock %}