<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html xmlns="https://www.w3.org/1999/xhtml">

</html>
<title>Up next in the queue</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0 ">
<meta name="format-detection" content="telephone=no">
</head>

<body style="margin:0px; padding:0px;">
    <h1>You're up next in the Queue!</h1>
    <p>Make sure you're ready for the TA to see you in the Zoom meeting.</p>
    <br />
    <p>If you would like to remove yourself from the queue, click <a href="{{url_for('remove_student')}}">here</a>.</p>
</body>

</html>